/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    shmatcher - config file for HPC
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Max CPUs = 40

*/

process {

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Process-specific resource requirements

    withName:seq_prep {
        cpus = 1
    }

    withName:chimera_filtering {
        cpus = 40
    }

    withName:exclude_non_iupac {
        cpus = 1
    }

    withName:seqlen_variation {
        cpus = 40
    }

    withName:no_seqlen_variation {
        cpus = 40
    }

    withName:select_representatives {
        cpus = 1
    }

    withName:clustering_97 {
        cpus = 40
    }

    withName:clustering_95 {
        cpus = 40
    }

    withName:clustering_90 {
        cpus = 40
    }

    withName:clustering_final {
        cpus = 40
    }

    withName:agglomerative_clustering {
        cpus = 4
    }

    withName:select_core_reps {
        cpus = 40
    }

    withName:sh_matching {
        cpus = 40
    }

    withName:parse_sh {
        cpus = 1
    }

    withName:compound_clusters {
        cpus = 1
    }

    withName:clustering_compounds {
        cpus = 3
    }

    withName:analyse_usearch_output_030 {
        cpus = 1
    }

    withName:analyse_usearch_output_025 {
        cpus = 1
    }

    withName:analyse_usearch_output_020 {
        cpus = 1
    }

    withName:analyse_usearch_output_015 {
        cpus = 1
    }

    withName:analyse_usearch_output_010 {
        cpus = 1
    }

    withName:analyse_usearch_output_005 {
        cpus = 1
    }

    /*
    withName:nohit_clusters {
        cpus = 1
    }

    withName:clustering_nohits {
        cpus = 4
    }

    withName:analyse_nohits {
        cpus = 1
    }
    */

    withName:parse_matches {
        cpus = 1
    }

    withName:merge_matches {
        cpus = 1
    }

    withName:matches_to_uc {
        cpus = 1
    }

    withName:return_common_taxonomy {
        cpus = 1
    }

    withName:parse_matches_html {
        cpus = 1
    }

    withName:krona {
        cpus = 1
    }

}
